* {
  padding: 0;
  mergin: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.step-box {
  width: 300px;
  background-color: #eeeeee;
  padding: 10px 10px;
  margin:-right 30px;
}

.step-box child()

.step-image1 {
  background-image: url(img/flow01.png);
  background-size: cover;
  height: 150px;
}

.step-image2 {
  background-image: url(img/flow02.png);
}

.step-image3 {
  background-image: url(img/flow03.png);
}